/* Put variable scss into here */

/* defined color page */
$main-background-color: #fff;
$main-text-color: #000;
$main-text-fontsize: 14px;

/*button*/
$main-button-background-color: #fff;
$main-button-text-color: #000;
